@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Raleway&display=swap");

html,
body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}
